.DS_Store
bin/.DS_Store


features-of-function-data/
test/
bin/
.snakemake/
others/

z.NOTES.txt
tabix.log
errors.log

data/by-date
data/conservation
data/intrinsic
data/population
data/raw
data/repeats
data/specific
data/transcriptome

scripts/missing-values.py
scripts/models.py
scripts/random-forest-analysis.R
scripts/randomForest.py
scripts/tuning-randomForest.py

complementary/join_datasets.sh
complementary/join_epigenetic_features.sh
complementary/list_of_files.txt
complementary/run_chrm_acc.sh
complementary/run_histone.sh
complementary/run_methylome.sh
complementary/spearman-function-feature.R
complementary/spearman.R