.DS_Store
bin/.DS_Store


features-of-function-data/
Volumes/archive/userdata/student_users/danielaschiavinato/dani-scratch/gene-functionality/features-of-function-data/
test/
bin/
.snakemake/


z.NOTES.txt
tabix.log
errors.log

data/features
data/by-date
data/conservation
data/intrinsic
data/population
data/raw
data/repeats
data/specific
data/transcriptome
data/epigenetic
data/epigenetic_data
data/statistics
data/neutral

scripts/missing-values.py
scripts/models.py
scripts/random-forest-analysis.R
scripts/randomForest.py
scripts/tuning-randomForest.py
scripts/upsampling-RF.py
scripts/sample-specific-weights-RF.py
scripts/distance-analysis.py

results/old
results/lncrna-exon1-features-matrix
results/lncrna-exon2-features-matrix
results/protein-exon2-features-matrix
results/protein-exon3-features-matrix
results/short-features-matrix
results/plots
results/prediction/testModel/old
results/prediction/testModel/plots
results/prediction/

*.ps
scripts/C2.4-testModel-negative-control.sh
scripts/plots.py
scripts/E-prediction-analysis.py
scripts/randomForest_lncrna.py
scripts/randomForest_protein.py
scripts/randomForest_short.py
scripts/randomForest_super.py
results/prediction/Model/models_performance.tsv
data/gencode-lncRNA/gencode-lncrna-list
data/gencode-genes-list
results/prediction/Model/models_performance.tsv
Snakefile-testModel-features
scripts/randomForest_protein.py
